02 Resources/Meeting notes.docx
03 Data/football-players-detection-20/
03 Data/runs/
03 Data/121364_0_results_1.mp4
03 Data/121364_0_results_2.mp4
03 Data/121364_0_results_4.mp4
03 Data/121364_0_results_5.mp4
03 Data/121364_0_results_6.mp4
03 Data/2e57b9_0_results_4.mp4
03 Data/yolov8s.pt
03 Data/gtownfc.MP4
03 Data/gtownfc_results_4.MP4
env/
.env